*{
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
} 

.kraftHeinzIcon{
    width: 500px;
}

.headerBody{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 50px;
}

.loginForm{
    display: block;
    justify-content: center;
    border: 2px solid rgb(11, 11, 101);
    border-radius: 15px;
    padding: 30px;
}

.buttonLogin{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}

form {
    text-align: center;
    margin-right: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(11, 11, 101);
    border-radius: 15px;  
    margin-bottom: 10px;
  }

  
  .buttonLogin {
    margin-top: 20px;
    margin-left: 90px;
    padding: 10px 20px; 
    border: none;
    border-radius: 10px;
    background-color: rgb(11, 11, 101); 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttonLogin:hover {
    background-color: #0056b3;
  }
  